<div class="container-fluid">
<main class="card auth">
	<md-tab-group>
	  <md-tab>
	    <template md-tab-label>SIGN UP</template>
	    <template md-tab-content>
	      <h1 class="section--header--t">Create Your user Account</h1>
	      <p class="section--desc--t"> Your user account is portal to all service features such as, listing, blogging, job applications.
	      </p>
	      <form class="innertube">
	      <md-input placeholder="Motorcycle model">
	        <span md-prefix>
	          <i class="material-icons app-input-icon">motorcycle</i>
	          &nbsp;
	        </span>
	      </md-input>
	      <md-input placeholder="Motorcycle model">
	        <span md-prefix>
	          <i class="material-icons app-input-icon">motorcycle</i>
	          &nbsp;
	        </span>
	      </md-input>
	      <md-input placeholder="Motorcycle model">
	        <span md-prefix>
	          <i class="material-icons app-input-icon">motorcycle</i>
	          &nbsp;
	        </span>
	      </md-input>
	     </form>
	    </template>
	  </md-tab>
	  <md-tab>
	    <template md-tab-label>SIGN IN</template>
	    <template md-tab-content>
	      <h1 class="section--header--t">Log In To Your Account</h1>
	      <p class="section--desc--t"> Your user account is portal to all service features such as, listing, blogging, job applications.
	      </p>
	    </template>
	  </md-tab>
	</md-tab-group>
</main>
</div>