/*@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';*/
.navbar {
    background-color: #3f3f3f;
    background-image: -webkit-linear-gradient(top, #696969 0%,#3f3f3f 100%);
    background-image: -moz-linear-gradient(top, #696969 0%,#3f3f3f 100%);
    background-image: -o-linear-gradient(top, #696969 0%,#3f3f3f 100%);
    background-image: linear-gradient(top, #696969 0%,#3f3f3f 100%);
    padding: 0.1rem 1rem; 
}
.down-nav {
    background-color: #1a1a1a;
    background-image: -webkit-linear-gradient(top, #1a1a1a 0%,#303030 100%);
    background-image: -moz-linear-gradient(top, #1a1a1a 0%,#303030 100%);
    background-image: -o-linear-gradient(top, #1a1a1a 0%,#303030 100%);
    background-image: linear-gradient(top, #1a1a1a 0%,#303030 100%);
    z-index: 1;
    position: relative;
    top:40px;
}
.navbar-brand{
  background: #ffffff;
  padding: 0.1rem 1rem ; 
  border-radius: 0px;
  border-radius: 4px;
}